# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
.myenv/
ENV/
.venv/
myenv/

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
instance/
media/
*.py[cod]

# Environment variables
.env
.env.*

# macOS files
.DS_Store

# VSCode files
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
*.cover
*.coverage
*.cov
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Test and Coverage
.tox/
.cache/
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.cache/
dist/
build/
*.egg-info/
